{
    "singleAttributePerLine": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ".parcelrc",
            "options": {
                "parser": "json"
            }
        }
    ]
}
